html, body { 
    height: 100%;
	font-family: Palatino Linotype, Sans-Serif;
	font-size: 20px;
    color: white;
    background-color: #a2a2a2;
    margin: 0;
    padding: 0;
    text-align: center;
}